@import "variables";

:global(*) {
    box-sizing: border-box;
}

:global(html), :global(body) {
    background-color: $bg-color;
}

:global(body) {
    padding: 10px;
}

input, select, .button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
}